:root {
  --color-primary: #16ABF8;
  --color-primary-darken: #0c84c0;
  --color-background: #F4F4F4;
  --color-danger: #ED4C5C;
  --color-title: #111111;
  --color-subtitle: #888888;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'sans-serif';
  background-color: var(--color-background);
  color: var(--color-title);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
